<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="r-works"> 
		<h1>R</h1>
	</div>
	<div class="link">
		<a href="/">Return to Home</a>
		<a href="/abap">Abap</a>
		<a href="/ada">Ada</a>
		<a href="/cc">C/C++</a>
		<a href="/cobol">Cobol</a>
		<a href="/csharp">C#</a>
		<a href="/dart">Dart</a>
		<a href="/delphi">Delphi</a>
		<a href="/go">Go</a>
		<a href="/groovy">Groovy</a>
		<a href="/haskell">Haskell</a>
		<a href="/java">Java</a>
		<a href="/javascript">JavaScript</a>
		<a href="/julia">Julia</a>
		<a href="/kotlin">Kotlin</a>
	</div>
	<div class="link">
		<a href="/lua">Lua</a>
		<a href="/matlab">MatLab</a>
		<a href="/objectivec">Objective C</a>
		<a href="/perl">Perl</a>
		<a href="/php">PHP</a>
		<a href="/python">Python</a>
		<a href="/ruby">Ruby</a>
		<a href="/rust">Rust</a>
		<a href="/scala">Scala</a>
		<a href="/swift">Swift</a>
		<a href="/typescript">TypeScript</a>
		<a href="/vba">VBA</a>
		<a href="/visualbasic">VisualBasic</a>
	</div>
	<div>
		<img src="/assets/ProgLangGraphsNewBorder/ROT.png" class= "r-graphic" width="50%" style="float:left" >
	</div>
	<h1 class="parname">Why R?</h1>

	<p class=blurb> R is an open source statistical programming language primarily used in data science and analytics. Industries that use R are finance, banking, healthcare, technology, and many more. Because of the rise of data and analytics over the past 20 years, R has become one of the most popular languages for statistical analysis. Similar to Python, R has many user made packages for improving the analytical capabilities and efficiency of model development and visualization. We can see based on the popularity trend of R that it has been on the rise, and we can likely expect this continue, in part because R is a relatively user-friendly language and there is ample well formatted documentation available on the web. It should be kept in mind that R and Python overlap in many ways, though Python is a more general purpose language, and R is built by statisticians for the purpose of data science. </p>
</body>
</html>

