<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="go-works"> 
		<h1> Go Works! </h1>
	</div>
	<div class="link">
		<a href="/">Return to Home</a>
		<a href="/abap">Abap</a>
		<a href="/ada">Ada</a>
		<a href="/cc">C/C++</a>
		<a href="/cobol">Cobol</a>
		<a href="/csharp">C#</a>
		<a href="/dart">Dart</a>
		<a href="/delphi">Delphi</a>
		<a href="/groovy">Groovy</a>
		<a href="/haskell">Haskell</a>
		<a href="/java">Java</a>
		<a href="/javascript">JavaScript</a>
		<a href="/julia">Julia</a>
		<a href="/kotlin">Kotlin</a>
	</div>
	<div class="link">
		<a href="/lua">Lua</a>
		<a href="/matlab">MatLab</a>
		<a href="/objectivec">Objective C</a>
		<a href="/perl">Perl</a>
		<a href="/php">PHP</a>
		<a href="/python">Python</a>
		<a href="/r">R</a>
		<a href="/ruby">Ruby</a>
		<a href="/rust">Rust</a>
		<a href="/scala">Scala</a>
		<a href="/swift">Swift</a>
		<a href="/typescript">TypeScript</a>
		<a href="/vba">VBA</a>
		<a href="/visualbasic">VisualBasic</a>
	</div>
	<div>
		<img src="/assets/ProgLangGraphsNewBorder/GoOT.png" class= "go-graphic" width="50%" >
	</div>
</body>
</html>

