@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

.go-body{
background-color: #f4f1e9;
font-family: 'Tenor Sans', sans-serif;
}
a {
	color: #30424a;
	text-decoration: none;
	margin: 10px;
	padding-top: 10px;
}

.go-works{
	text-align: center;
	padding: 5px;
	border-bottom: 3px solid #e5813a;
}
.link {
	width: 100%;
	margin: 10px;
	text-align: center;
}

.link :hover{
	border-bottom: 1px solid #e5813a ;
}
.link a:hover {
	color: #e5813a;
}
.go-graphic {
  width: 50%;
  padding:40px;
}
