@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

.home-body{
background-color: #f4f1e9;
font-family: 'Tenor Sans', sans-serif;
}
a {
	color: #30424a;
	text-decoration: none;
	margin: 10px;
	padding-top: 10px;
}

.welcome{
	text-align: center;
	padding: 5px;
	border-bottom: 3px solid #e5813a;
}
.link {
	width: 100%;
	margin: 10px;
	text-align: center;
}

.link :hover{
	border-bottom: 1px solid #e5813a ;
}
.link a:hover {
	color: #e5813a;
}
.graphic{
	width: 1000px;
  	height: 150px;
	object-fit: cover;
	margin-left:200px;
	margin-top: 20px;
}
.fit {
/*  width: 660px;
  height: 300px;*/
  padding-top: 0px;
  padding-bottom: 50px;
  object-fit: cover;
}
.blurb{
	padding-top:12px;
}
.parname{
 padding-top:235px;
 color:#e5813a;
}
.fit-2{
	margin: 40px;
  object-fit: cover

}
.parname-1{
	padding-top:35px;
 color:#e5813a;
}
.blurb-1{
	padding-top:12px;
	padding-left:70px;
	padding-right: 70px;
}