<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="welcome"> 
		<h1> Programming Language Trends </h1>
	</div>
	<div class="link">
		<a href="/abap">Abap</a>
		<a href="/ada">Ada</a>
		<a href="/cc">C/C++</a>
		<a href="/cobol">Cobol</a>
		<a href="/csharp">C#</a>
		<a href="/dart">Dart</a>
		<a href="/delphi">Delphi</a>
		<a href="/go">Go</a>
		<a href="/groovy">Groovy</a>
		<a href="/haskell">Haskell</a>
		<a href="/java">Java</a>
		<a href="/javascript">JavaScript</a>
		<a href="/julia">Julia</a>
		<a href="/kotlin">Kotlin</a>
	</div>
	<div class="link">
		<a href="/lua">Lua</a>
		<a href="/matlab">MatLab</a>
		<a href="/objectivec">Objective C</a>
		<a href="/perl">Perl</a>
		<a href="/php">PHP</a>
		<a href="/python">Python</a>
		<a href="/r">R</a>
		<a href="/ruby">Ruby</a>
		<a href="/rust">Rust</a>
		<a href="/scala">Scala</a>
		<a href="/swift">Swift</a>
		<a href="/typescript">TypeScript</a>
		<a href="/vba">VBA</a>
		<a href="/visualbasic">VisualBasic</a>
	</div>
	<div>
		<img class="graphic"src="/assets/Untitled-Artwork.jpg">
	</div>
	<div>
		<p class="blurb-1" style="text-align: center">Programming languages are always evolving, with new languages forming and old languages declining in popularity. These trends are not always apparent, especially to someone who does not work directly with a language or an industry that utilizes it. Our goal is to help visualize and understand the trends, while providing insight into the types of industries that make use of the different languages.</p>
	</div>
	
	<div>
		<img class="fit-2" src="/assets/2020ValsBar.png" width="50%" style="float:left">
		<h1 class="parname-1">Language Distribution 2020</h1>
		<p class="blurb">The attached figure shows the popularity of programming languages in the year 2020. It is apparent that Java and Python make up the largest part of languages used. This does not mean that the other lesser used languages are not beneficial to learn. Many of the lower popularity languages are used in specific industries and can be very desirable because of the fact that they are less popular. A good example of this is Objective-C, for someone going into engineering this would be one of, if not the best, languages to develop a proficiency in because of how widely it is used in the industry. As a rule, most of the languages present have a purpose, though when analyzing the trends, they may be moving towards obsoletion because of the constant evolution of programming languages. </p>
	</div>

	<div>
		<img class="fit" src="/assets/Sample_Graph.jpg" width="60%" style="float: right">
	</div>
	<h1 class="parname">Interpreting the Data</h1>

	<p class="blurb">The attached figure is a good reference for what a popularity trend chart is explaining for an individual language over the past 15 years. With “Popularity” being the percentage of the usage of the language from the distribution of all languages. When we are analyzing a popularity trend for a language, it is important to recognize that the graph itself does not tell us the reasons why it is trending the way that it is. There will likely be situations where it looks like a language is declining heavily in popularity, but this may just be in one of its main industries, where a new language has been developed with significant optimizations for that industry's needs that the original language does not provide. </p>
	<!-- <h1> About Our Team</h1>
	<p> We are </p>
</div> -->

	<!-- <p>Welcome to our webiste! In the pages of this website we will be looking at the popularity of programing languages from the years over the span of the last 16 years. </p> -->
</body>
</html>

